*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.teamTwitterLink, .teamFBLink, .teamLinLink{
    height: 25px;
    width: 25px;
}
.aboutLogoContainer{
    height: 125px;
    width: 125px;
    color: #fed136;
}
.aboutLogoECom, .aboutLogoResDes, .aboutLogoWebSec{
    height: 75px;
    width: 75px;
}
.headerWelcome{
    text-align: center;
    padding-top: 155px;
    padding-bottom: 180px;
    color: white;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
@media (min-width: 768px){
    .headerWelcome{
    padding-top: 272px;
    }
}
.headerWelcomeH1{
    font-size: 24px;
    font-style: italic;
    line-height: 24px;
    font-family: "Droid Serif", sans-serif;
    margin-bottom: 32px;
}
@media (min-width: 768px){
    .headerWelcomeH1 {
        font-size: 36px;
        font-style: italic;
        line-height: 36px;
    }
}
.headerWelcomeH2{
    font-size: 52px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 67px;
}
@media (min-width: 768px){
    .headerWelcomeH2 {
        font-size: 72px;
        font-weight: 700;
        line-height: 72px;
    }
}
.headerWelcomeBtn{
    font-weight: 700;
    padding: 20px 45px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: #fed136;
}
.navBtn{
    padding: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background-color: #fed136;
    border: 0;
}
.navBtn svg{
    height: 12px;
}
.navbar{
    position: fixed;
    width: 100%;
    padding-top: 25px;
    background-color: #212529;
}
@media (min-width: 992px){
    .navbar {
        padding-top: 15px;
        background-color: transparent;
    }
}
@media (min-width: 576px){
    .navbar {
        padding: 15px 0px;
    }
}
.headerCoverContainer{
    position: absolute;
}
.headerContainer{
    background-color: #212529;
}
.headerLogo{
    width: 190px;
}
@media (max-width: 992px){
    .headerLogo{
        width: 140px;
    }
}
.headerNavItem{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    display: inline-block;
    position: relative;
    margin: 0px 0px;
    padding: 10px 20px 0px 0px;
}
.servicesContainer{
    margin-top: 96px;
    margin-bottom: 96px;
}
.servicesContainer h2{
    font-weight: 700;
    font-size: 40px;
}
.servicesContainer p{
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    font-family: "Droid Serif", sans-serif;
    color: #6c757d;
    margin-bottom: 64px;
}
.servicesLogoContainer{
    position: relative;
    display: inline-block;
}
.servicesLogo2{
    position: absolute;
    top: 25px;
    left: 25px;
    color: #fff;
}
.serviceContainer h4{
    margin: 16px 0px;
    font-weight: 700;
    line-height: 1.2;
}
.serviceContainer p{
    margin: 16px 0px;
    line-height: 1.75;
    font-style: normal;
}
.portfolioSection{
    background-color: #f8f9fa;
}