*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}


/*nav*/

.navbar{
    position: fixed;
    width: 100%;
    padding-top: 25px;
    background-color: #212529;
}
@media (min-width: 992px){
    .navbar {
        padding-top: 15px;
        background-color: transparent;
    }
}
@media (min-width: 576px){
    .navbar {
        padding: 15px 0px;
    }
}
.navBtn{
    padding: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background-color: #fed136;
    border: 0;
}
.navBtn svg{
    height: 12px;
}
.headerNavItem{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    display: inline-block;
    position: relative;
    margin: 0px 0px;
    padding: 10px 20px 0px 0px;
}


/*welcome section*/

.headerWelcome{
    text-align: center;
    padding-top: 155px;
    padding-bottom: 180px;
    color: white;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
@media (min-width: 768px){
    .headerWelcome{
    padding-top: 272px;
    }
}
.headerWelcomeH1{
    font-size: 24px;
    font-style: italic;
    line-height: 24px;
    font-family: "Droid Serif", sans-serif;
    margin-bottom: 32px;
}
@media (min-width: 768px){
    .headerWelcomeH1 {
        font-size: 36px;
        font-style: italic;
        line-height: 36px;
    }
}
.headerWelcomeH2{
    font-size: 52px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 67px;
}
@media (min-width: 768px){
    .headerWelcomeH2 {
        font-size: 72px;
        font-weight: 700;
        line-height: 72px;
    }
}
.headerWelcomeBtn{
    font-weight: 700;
    padding: 20px 45px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: #fed136;
}
.headerCoverContainer{
    position: absolute;
}
.headerContainer{
    background-color: #212529;
}
.headerLogo{
    width: 190px;
}
@media (max-width: 992px){
    .headerLogo{
        width: 140px;
    }
}


/*sections*/

.sectionContainer{
    margin-top: 96px;
    margin-bottom: 96px;
}
.sectionContainer h2{
    font-weight: 700;
    font-size: 40px;
}
.sectionContainer p{
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    font-family: "Droid Serif", sans-serif;
    color: #6c757d;
    margin-bottom: 64px;
}


/*services section*/

.servicesLogoContainer{
    position: relative;
    display: inline-block;
}
.servicesLogo2{
    position: absolute;
    top: 25px;
    left: 25px;
    color: #fff;
}
.serviceContainer h4{
    margin: 16px 0px;
    font-weight: 700;
    line-height: 1.2;
}
.serviceContainer p{
    margin: 16px 0px;
    line-height: 1.75;
    font-style: normal;
}


/*team*/

.teamTwitterLink, .teamFBLink, .teamLinLink{
    background: #343a40;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
}
.teamTwitterLogo, .teamFBLogo, .teamLinLogo{
    height: 15px;
    width: 15px;
    color: #fff;
}
.teamProfilePic{
    width: 224px;
    height: 224px;
    margin-top: 50px;
    border-radius: 50%;
    border: 7px rgba(0, 0, 0, 0.1) solid;
}
.teamSection h4{
    margin-top: 25px;
    font-weight: 700;
}
.teamSection p{
    margin-bottom: 15px;
}


/*about section*/

.aboutLogoContainer{
    height: 125px;
    width: 125px;
    color: #fed136;
}
.aboutLogoECom, .aboutLogoResDes, .aboutLogoWebSec{
    height: 75px;
    width: 75px;
}
.aboutPic{
    width: 136px;
    height: 136px;
    border-radius: 50%;
    border: 7px #e9ecef solid;
}
.aboutPartStory{
    background-color: #fed136;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.aboutPartStory p{
    color: #fff;
    margin: 30px 30px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}


/*portfolio section*/

.portfolioSection, .teamSection{
    padding-top: 100px;
    padding-bottom: 15px;
    background-color: #f8f9fa;
}
.portfolioSection h2{

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 40px;
}
.portfolioCardPic{
    width: 100%;
}
.portfolioCardPicHover{
    width: 100%;
    height: 100%;
    
}
.portfolioCardPic:hover{
    
    opacity: 0.1;
    transition: opacity ease-in-out 0.25s;
}
.card{
    border: 0px;
    margin-bottom: 25px;
    background: rgba(254, 209, 54, 0.9);
}
.card-body{
    background: #FFF;
}
.card-body h4{
    font-weight: 700;
    
}